@model SWDteam.Models.Instructor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.InstructorName</h1>
<img src="~/Img/@Model.InstrucrorImage" style="border-radius:30%;width:70px; height:70px" alt="Avatar">

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructorbiography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructorbiography)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructorexperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructorexperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        
    </dl>
</div>
<div>
    @if (Model.Courses != null)
    {
        <h2>Top Courses</h2>
        <div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
            @foreach (var course in Model.Courses)
            {
                <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">
                        <img src="~/Img/@course.CourseImage" alt="dept_image_here" style="border-radius:20%;width:200px; height:200px">
                    </a>
                    <span><p>@course.CourseName</p></span>
                </div>
            }
        </div>
    }
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.InstructorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
