@model IEnumerable<SWDteam.Models.Instructor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrucrorImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructorbiography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructorexperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrucrorImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructorbiography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructorexperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
