@model SWDteam.Models.Department

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.DepartmentName</h1>
<div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
    <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
        <p class="text-muted">@Model.DepartmentDescription </p>
        <a asp-action="Edit" asp-route-id="@Model?.DepartmentID"><i class="bi bi-pencil-square"></i></a>
        <a asp-action="Delete" asp-route-id="@Model?.DepartmentID"><i class="bi bi-trash3-fill"></i></a>
    </div>
</div>

@if (Model != null)
{
    if (Model.Courses != null)
    {
        <h2>Top Courses</h2>
        <div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
            @foreach (var course in Model.Courses)
            {
                <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseImage">
                        <img src="~/Img/@course.CourseImage" alt="dept_image_here" style="border-radius:20%;width:200px; height:200px">
                    </a>
                    <span><p>@course.CourseName</p></span>
                </div>
            }
        </div>
    }
    if (Model.Instructors != null)
    {
        <h2>Top Courses</h2>
        <div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
            @foreach (var instructor in Model.Instructors)
            {
                <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
                    <a asp-controller="Instructors" asp-action="Details" asp-route-id="@instructor.InstrucrorImage">
                        <img src="~/Img/@instructor.InstrucrorImage" alt="dept_image_here" style="border-radius:20%;width:200px; height:200px">
                    </a>
                    <span><p>@instructor.InstructorName</p></span>
                </div>
            }
        </div>
    }
}
