@model SWDteam.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.CategoryName</h1>
<div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
    <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
        <img src="~/Img/@Model.CategoryImage" style="width: 150px;border-radius:30%" alt="Avatar" />
    </div>
    <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
        <p class="text-muted">@Model.CategoryDescription </p>
    </div>
</div>

<div style="margin:20px 10px 20px 10px;">
    @if (Model.Departments != null)
    {
        @foreach (var item in Model.Departments)
        {
            <a asp-controller="Departments" asp-action="Details" asp-route-id="@item.DepartmentID">
                <h4>@Html.DisplayFor(modelItem => item.DepartmentName)</h4>
            </a>
            @if (item.Courses != null)
            {
                <div style="display:ruby;flex-wrap:wrap;margin: 0 -1.6rem -3.2rem 0;">
                    @foreach (var course in item.Courses)
                    {
                        <div style="display:block; margin: 0 1.6rem 1.6rem 0;">
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">
                                <img src="~/Img/@course.CourseImage" alt="dept_image_here" style="border-radius:5%;width:200px; height:200px">
                            </a>
                            <span>
                                <h4>@course.CourseName</h4>                           
                            </span>
                        </div>
                    }
                </div>
                }         
        }
    }
</div>

