@model IEnumerable<SWDteam.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="bi-plus-square"></i>&nbsp; Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CategoryId">
                            <img src="~/Img/@item.CategoryImage" alt="dept_image_here" style="border-radius:30%;width:70px; height:70px">
                        </a>
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.CategoryId"><i class="bi bi-pencil-square"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.CategoryId"><i class="bi bi-eye"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryId"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
        }
    </tbody>
</table>
