@model IEnumerable<SWDteam.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseVedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePurchases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coursedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseVedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePurchases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coursedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.InstructorEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
